{% extends "base.html" %}

{% block title %}Информация о машине - EcoTaxi Investor Portal{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Информация о машине</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Основная информация</h5>
                <table class="table">
                    <tr>
                        <th>Модель:</th>
                        <td>{{ car.model }}</td>
                    </tr>
                    <tr>
                        <th>Гос. номер:</th>
                        <td>{{ car.licensePlate }}</td>
                    </tr>
                    <tr>
                        <th>Год выпуска:</th>
                        <td>{{ car.year }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h5>Техническая информация</h5>
                <table class="table">
                    <tr>
                        <th>Пробег:</th>
                        <td>{{ car.mileage }} км</td>
                    </tr>
                    <tr>
                        <th>Последнее ТО:</th>
                        <td>{{ car.last_maintenance }}</td>
                    </tr>
                    <tr>
                        <th>Следующее ТО:</th>
                        <td>{{ car.next_maintenance }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Назад к списку</a>
    </div>
</div>
{% endblock %} 